:root{
	--title:#000000;
	--backgroundcolor:#ffffff;
	--mainh2:#212121;
	--text:#757575;
	--herobc:#2f303a;
	--button:#188ce8;
	--team:#f5f4fa;
	--adress:rgba(255, 255, 255, 0.6);
	--currentColor:#2196F3;
	--gap: 30px;
	--colorsvg: #AFB1B8 ;
	
}

h1,
h2,
p,
ul
{
	margin: 0px;
	padding: 0px;
}
.body {
	font-family: "Roboto", sans-serif;
	background-color: var(--backgroundcolor);
}
.header-container{
	display: flex;
	border-bottom: 1px solid #ECECEC;
}
.header-nav{
	align-items: center;
	display: flex;
}
 .header-list{
	display: flex;
	align-items: center;
	

}
.contact-logo{
	margin-right: 10px;
	fill: var(--text);
}
.adress-logo:hover .contact-logo{	
	fill: var(--currentColor);

}


.header-contact{
	display: flex;
	align-items: center;
}

.header-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	/* identical to box height */
	letter-spacing: 0.03em;
	margin-right: 93px;
}

.posil{
	margin-left: 50px;
	margin-right: 50px;
}

.web{
	color: var(--currentColor);
}

.studio {
	color: var(--title);
	
}

.container{
	width: 1200px;
	margin-right:  auto;
	margin-left:  auto;
	padding-left:15px;
	padding-right: 15px;
}
.current a {
	 color:  var(--currentColor);
}

.link{
	text-decoration: none;
}
.list {
	list-style: none;
	margin-left: auto;
}
.adress-header{
	margin-left: 50px;
}


.list-active-link:hover {
	color: var(--currentColor);
}

.header-list-link {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--mainh2);
	display: inline-block;
}

.header-link {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;

}

.header-mail-tel-link {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--text);
}


.hero{
	background: var(--herobc);
	padding-top: 200px;
	padding-bottom: 200px;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4),
	rgba(47, 48, 58, 0.4)), url(./images/hero-photo.jpg);
	background-size: cover;
}


.fon-talant{
	background-color: var(--backgroundcolor);
}


.section-hero {
	font-weight: 900;
	font-size: 44px;
	line-height: calc(60 / 44);
	letter-spacing: 0.06em;
	color: var(--backgroundcolor);
	text-transform: uppercase;
	margin-left:  215px;
	margin-right: 215px;
	text-align: center;
	margin-bottom: var(--gap);
}

.button {
	cursor: pointer;
}
.button:hover {
	background: var(--button);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.main-button {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	color: var(--backgroundcolor);
	font-family: inherit;
	background: var(--currentColor);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 10px 32px;
	margin-left: 475px;
	text-align: center;
	display: flex;

}


.visually-hidden {
	text-align: center;
	color: var(--mainh2);
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.section-talant {
	padding-top: 94px;
	padding-bottom: 94px;
}




.list-talant {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--mainh2);
	margin-top: 0px;
}

.details {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	/* or 171% */
	letter-spacing: 0.03em;
	color: var(--text);
}
.benefits {
	padding-top: 94px;
	padding-bottom: 94px;
  }
  
  .benefits-list {
	display: flex;
	flex-wrap: wrap;
  }
  
  .benefits-item {
	width: calc((100% - 90px) / 4);
	margin-right: 30px;
  }
  
  .benefits-item:nth-child(4n) {
	margin-right: 0;
  }
  
  .benefits-item h3 {
	font-size: 14px;
	line-height: 1.14;
  
	margin-bottom: 10px;
  }
  
  .benefits-item p {
	color: var(--secondary-color);
	font-size: 14px;
	line-height: 1.71;
  }
  
  .wrapper-icon {
	width: 270px;
	height: 120px;
	margin-bottom: 30px;
  
	display: flex;
	justify-content: center;
	align-items: center;
  
	background: #f5f4fa;
	border-radius: 4px;
  }
  
  .benefits-icon {
	width: 70px;
	height: 70px;
  }
.work-list {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	color: var(--mainh2);
}

.work{
	padding-bottom: 94px;
}

.work-mob{
	text-align: center;
	margin-bottom: 50px;
}
.mob-list{
	display: flex;
}
.picture-work{
	margin-left: var(--gap);
	margin-right: var(--gap);
}

.img-about {
	list-style: none;
}

.team {
	background: var(--team);
	padding-top: 94px;
	padding-bottom: 94px;
}

.team .social-item{
	width: 44px;
	height: 44px;
	margin-right: 10px;
	
}

.team .social-link:hover {
	background-color: #2196F3 ;

}

.team .social-link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	
}
.team .social-link:hover .social-icons{
	fill: var(--backgroundcolor) ;
}

.team .social-link:focus .social-icons{
	fill: var(--backgroundcolor) ;
}


.team .social-icons{
	display: flex;
	justify-content: center;
	fill: var(--colorsvg);
}



.team .social-item:last-child{
	margin-right: 0px;
}
.our-team{
	
	text-align: center;
	margin-bottom: 50px;
}


.title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	color: var(--mainh2);
}


.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	color: var(--mainh2);
	margin-bottom: 10px;
	text-align: center;
	margin-top: 0px;
}
.team-work {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	color: var(--text);
	text-align: center;
	margin-bottom: 16px;
}
.card-set{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}
.item{
	margin-right: var(--gap);
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.card-content{
	padding-top: var(--gap);
	padding-bottom: var(--gap);
	align-items: center;
}
.last-list{
	margin-right: 0px;

}
.clients-titel{
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--mainh2);
}
.clients {
	padding-top: 94px;
	padding-bottom: 94px;
  }
  

  
  .clients-list {
	display: inline-flex;
	margin-top: 50px;
  }
  

  .clients-link {
	width: 170px;
	height: 92px;
	color: var(--icon-color);
	border: 1px solid #afb1b8;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .clients-icon {
	width: 106px;
	height: 60px;
	fill: var(--colorsvg);
  }
  
  .clients-link:hover .clients-icon {
	fill: var(--currentColor);
  }
  .clients-link:hover {
	border-color: var(--currentColor);
  }
  

  
  .clients-item:not(:last-child) {
	margin-right: 30px;
  }
  

.footer {
	background: var(--herobc);
	justify-content: center;
}

.footer-studio {
	color: var(	--backgroundcolor);
}
.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	letter-spacing: 0.03em;
	text-decoration: none;
}

.down {
	background: var(--herobc);
	padding-top: 60px;
	padding-bottom: 60px;
	
}
.flex-footer{
	display: flex;
}

.map {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(	--backgroundcolor);
}

.mail-tel {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--adress);
}
.second-list{
	margin-top: 9px;
	margin-bottom: 9px;
}


.active-footer:hover {
	color: var(--currentColor);
}
.fix{
	margin-top: 6px;
}
.adress-footer{
	margin-top: 20px;
}

.pasive-footer {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	font-style: normal;
}

.follow{
	font-weight: 700;
font-size: 14px;
line-height: calc(16 /  14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}

.follow-log{
	margin-left: 70px;
	margin-top: 12px;
}

.footer-posil{
	display: flex;
	justify-content: center;
	fill: var(--backgroundcolor);

}
.social-item-footer{
	width: 44px;
	height: 44px;
	margin-right: 10px;
}
 .social-link-footer:hover {
	background-color: var(--currentColor);
}

.social-link-footer{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		
		background-color:rgba(255, 255, 255, 0.1);
}


.social-icons-footer{
	display: flex;
    justify-content: center;
    fill: var(--backgroundcolor);
}
.social-item-footer:last-child{
	margin-right: 0px;
}
