html {
	box-sizing: border-box;
  }
:root{
	--title:#000000;
	--backgroundcolor:#ffffff;
	--mainh2:#212121;
	--text:#757575;
	--herobc:#2f303a;
	--button:#188ce8;
	--team:#f5f4fa;
	--backbutton:#f5f4fa;
	--adress:rgba(255, 255, 255, 0.6);
	--currentColor:#2196F3;
	--gap: 30px;
	--colorsvg: #AFB1B8 ;
	--gapboxleft:24px;
	--gapboxtop:20px;
	--gapboxdown:4px;
	
}

h1,
h2,
p,
ul
{
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--backgroundcolor);
	font-weight: 400;
	letter-spacing: 0.03em;
	color: rgba(33, 33, 33, 1);
  }
  /* header */
  
  .list {
	padding: 0;
	margin: 0;
	list-style: none;
  }
  .link {
	text-decoration: none;
  }
  .header {
  border-bottom: 1px solid #ececec;
}
  .centered {
	text-align: center;
  }
  
  .container {
	width: 1200px;
  
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
  }
  .header-container {
	display: flex;
  }
  .logo {
	display: flex;
	align-items: center;
  
	font-family: 'Raleway';
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
	color: #000000;
  }
  
  .logo span {
	color: var(--currentColor);
  }
 
  .nav-list {
	display: flex;
	margin-left: 93px;
  }
  
  .site-nav {
	display: flex;
	padding-left: 15px;
  }
  
  .site-nav .nav-item:not(:last-child) {
	margin-right: 40px;
  }
  
  .nav-link {
	position: relative;
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	color: var(--mainh2);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .nav-link.current::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	display: block;
	width: 100%;
	height: 4px;
	background-color: var(--currentColor);
	border-radius: 2px;
  }
  
  .site-contacts {
	display: flex;
	margin-left: auto;
	padding-right: 15px;
	align-items: center;
  }
  
  .site-contacts .contacts-item + .contacts-item {
	margin-left: 50px;
  }
  
  .current {
	color: var(--currentColor);
  }
  
  .nav-link:hover {
	color: var(--currentColor);
  }
  
  .nav-link:focus {
	color: var(--currentColor);
  }
  
  .contacts-link {
	display: inline-flex;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	color: var(--text);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .contacts-link:hover {
	color: var(--currentColor);
  }
  .contacts-link:focus {
	color: var(--currentColor);
  }
  
  .contacts-icon {
	align-self: center;
	margin-right: 10px;
	fill: var(--colorsvg);
	stroke: currentColor;
  }
  
  .icon-mail {
	width: 16px;
	height: 12px;
  }
  .icon-tel {
	width: 10px;
	height: 16px;
  }
  
/* hero */

.hero{
	background: var(--herobc);
	padding-top: 200px;
	padding-bottom: 200px;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4),
	rgba(47, 48, 58, 0.4)), url(../images/hero-photo.jpg);
	background-size: cover;
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
}


.fon-talant{
	background-color: var(--backgroundcolor);
}


.section-hero {
	font-weight: 900;
	font-size: 44px;
	line-height: calc(60 / 44);
	letter-spacing: 0.06em;
	color: var(--backgroundcolor);
	text-transform: uppercase;
	margin-left:  215px;
	margin-right: 215px;
	text-align: center;
	margin-bottom: var(--gap);
}

.main-button {
	border: none;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	color: var(--backgroundcolor);
	background: var(--currentColor);
	border-radius: 4px;
	padding: 10px 32px;
	margin-left: 475px;
	cursor: pointer;
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover {
	background: var(--button);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.visually-hidden {
	text-align: center;
	color: var(--mainh2);
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.section-talant {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* section-benefits */
.benefits {
	padding-top: 94px;
	padding-bottom: 94px;
  }
  
  .benefits-list {
	display: flex;
	flex-wrap: wrap;
  }
  
  .benefits-item {
	width: calc((100% - 90px) / 4);
	margin-right: 30px;
  }
  
  .benefits-item:nth-child(4n) {
	margin-right: 0;
  }
  
  .benefits-item h3 {
	font-weight: 700;
	letter-spacing: 0.03em;
	font-size: 14px;
	line-height: calc(16 / 14);
	color: var(--mainh2);
	margin-bottom: 10px;
  }
  
  .benefits-item p {
	color: var(--text);
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
  }
  
  .wrapper-icon {
	width: 270px;
	height: 120px;
	margin-bottom: 30px;
  
	display: flex;
	justify-content: center;
	align-items: center;
  
	background: #f5f4fa;
	border-radius: 4px;
  }
  
  .benefits-icon {
	width: 70px;
	height: 70px;
  }

  /* work-section */


.work-list {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	color: var(--mainh2);
}

.work-text{
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: var(--backgroundcolor);
	
}


.work-bg{
	background-color: rgba(47, 48, 58, 0.8);
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.work .list{
	position: relative;
}

.work{
	padding-bottom: 94px;
}

.work-mob{
	text-align: center;
	margin-bottom: 50px;
}
.mob-list{
	display: flex;
}
.picture-work{
	margin-left: var(--gap);
	margin-right: var(--gap);
}

/* section-team */

.team {
	background: var(--team);
	padding-top: 94px;
	padding-bottom: 94px;
}

.team .social-item{
	width: 44px;
	height: 44px;
	margin-right: 10px;
}

.team .social-link:hover {
	background-color: #2196F3 ;

}

.team .social-link {
	width: 100%;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition:background 250ms cubic-bezier(0.4,0,0.2,1);
		
}
.team .social-link:hover .social-icons{
	fill: var(--backgroundcolor) ;

}

.team .social-link:focus .social-icons{
	fill: var(--backgroundcolor) ;
}


.team .social-icons{
	display: flex;
	justify-content: center;
	fill: var(--colorsvg);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
	
}



.team .social-item:last-child{
	margin-right: 0px;
}
.our-team{
	
	text-align: center;
	margin-bottom: 50px;
}


.title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	color: var(--mainh2);
}


.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	color: var(--mainh2);
	margin-bottom: 10px;
	text-align: center;
	margin-top: 0px;
}
.team-work {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	color: var(--text);
	text-align: center;
	margin-bottom: 16px;
}
.card-set{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}
.item{
	margin-right: var(--gap);
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.card-content{
	padding-top: var(--gap);
	padding-bottom: var(--gap);
	align-items: center;
}
.last-list{
	margin-right: 0px;

}

/* clients-section */

.clients-titel{
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--mainh2);
}
.clients {
	padding-top: 94px;
	padding-bottom: 94px;
  }
  

  
  .clients-list {
	display: inline-flex;
	margin-top: 50px;
  }
  

  .clients-link {
	width: 170px;
	height: 92px;
	color: var(--icon-color);
	border: 1px solid #afb1b8;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .clients-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	fill: var(--colorsvg);
	
  }
  
  .clients-link:hover .clients-icon {
	fill: var(--currentColor);
  }
  .clients-link:hover {
	border-color: var(--currentColor);
  }
  
.clients-item{
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
  
  .clients-item:not(:last-child) {
	margin-right: 30px;
  }
  
/* footer-down */
.web{
	color: var(--currentColor);
  }

.footer-studio {
	color: var(	--backgroundcolor);
}
.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	letter-spacing: 0.03em;
	font-style: initial;

}
.downlogo{
	margin-bottom: 20px;
}


.down {
	background: var(--herobc);
	padding-top: 60px;
	padding-bottom: 60px;
	
}
.flex-footer{
	display: flex;
	align-items: baseline;
}

.map {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(	--backgroundcolor);
}

.mail-tel {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--adress);
}
.second-list{
	margin-top: 9px;
	margin-bottom: 9px;
}
.active-footer{
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}

.active-footer:hover {
	color: var(--currentColor);
}
.fix{
	margin-top: 6px;
}
.adress-footer{
	margin-top: 20px;
}

.pasive-footer {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	font-style: normal;
}

/* social-icons */

.follow{
	font-weight: 700;
font-size: 14px;
line-height: calc(16 /  14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
font-style: initial;
}

.follow-log{
	margin-left: 70px;
}

.footer-posil{
	display: flex;
	justify-content: center;
	fill: var(--backgroundcolor);

}
.social-item-footer{
	width: 44px;
	height: 44px;
	margin-right: 10px;
	
}
 .social-link-footer:hover {
	background-color: var(--currentColor);
}

.social-link-footer{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color:rgba(255, 255, 255, 0.1);
		transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		transition:background 250ms cubic-bezier(0.4,0,0.2,1);
			
}


.social-icons-footer{
	display: flex;
    justify-content: center;
    fill: var(--backgroundcolor);
}
.social-item-footer:last-child{
	margin-right: 0px;
}

/* modal */

.backdrop.is-hidden .modal  {
   transform: rotate(-180deg);
}

.backdrop{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
	border-radius: 4px ;
	width: 528px;
	padding: 40px;
	background-color: var(--backgroundcolor);
	position: absolute;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close-button{
	display: block;
	justify-content: flex-end;
	border-radius: 50%;
	transition:color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-button{
	fill: var(--currentColor);
}
.modal .modal-close{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(131, 85, 85, 0.1);
	background-color: var(--backgroundcolor);
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;
	background-color: transparent;
	transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
	
}
.is-hidden{
	opacity: 0;
	pointer-events: none;
}

.footer-sign{
	margin-left: auto;
}

.sign-type{
	display: flex;
}


.text-sign{
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 20px;
	font-style: initial;
}

.sign-up{
	font-weight: 400;
	font-size: 16px;
	line-height: calc(20 / 16);
	letter-spacing: 0.03em;
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.6);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	width: 358px;
	height: 50px;
	outline: none;
	background-color: var(--herobc);
	padding-left: 16px;

}


.sign-up:hover{
	border:1px solid var(--currentColor);
}

input.sign-up:focus {
	border-color:  var(--currentColor);
}


.button-sign{
	border: none;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--backgroundcolor);
	padding: 10px 28px;
	background: var(--currentColor);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
	transition:background 250ms cubic-bezier(0.4,0,0.2,1);
	margin-left: 12px;
}

.button-sign:hover{
	background: var(--button);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-mail{
	margin-left: 10px;
	cursor: pointer;
}



/* modal-centr */


.last-button{
	align-items: center;
	text-align: center;
}

.input-svg{
	position: relative;
	margin-bottom: 10px;
	
	
}

.modal-text{
	font-weight: 700;
	font-size: 20px;
	line-height: calc(23 / 20);
	letter-spacing: 0.03em;
	color: var(--mainh2);
	margin-bottom: 12px;
	text-align: center;
}
.input-modal{
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	width: 448px;
	height: 40px;
	outline: none;
	padding-left: 42px;
	transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition:border 250ms cubic-bezier(0.4,0,0.2,1);
	
}

.input-modal:hover {
	border: 1px solid var(--currentColor);
	
}
input.input-modal:focus {
	border-color:  var(--currentColor);
}

.textarea{
	width: 448px;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;
	resize: none;
	outline: none;
	margin-top: 4px;
}
.textarea:hover{
	border: 1px solid var(--currentColor);	
}
.textarea:focus{
	border-color: var(--currentColor);
}

.label-text{
	font-weight: 400;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
	color: var(--text);
	margin-bottom: 4px;
}

 .lable-one{
	display: inline-block;
	margin-bottom: 4px;
}

.accept{
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 /14);
	letter-spacing: 0.03em;
	color: var(--text);
}
.svg-position{
	position: absolute;
    left: 12px;
    top: 11px;
	fill:var(--mainh2);
	cursor: pointer;
	transition:color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	

}

.svg-position:hover{
	fill: var(--currentColor);
}

.input-modal:hover + .svg-position{
	fill: var(--currentColor);
}
.input-modal:focus + .svg-position{
	fill: var(--currentColor);
}

.button-modal{
	border: none;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	color: var(--backgroundcolor);
	padding: 10px 52px;
	background: var(--currentColor);
	border-radius: 4px;
	cursor: pointer;
	transition: background,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	margin-top: 30px;
}

.button-modal:hover{
	background: var(--button);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.text-accept{
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--text);
	cursor: pointer;
	margin-left: 8px;
}

.contract{
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--currentColor);
	}

.checkbox{
	text-align: center;
	color: var(--mainh2);
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
	position: absolute;
}

.checkbox-agree{
	margin-top: 20px;
}

.check-hidden{
	display: flex;
	align-items: center;
	justify-content: center;

}

.check-hidden .icon-wrapper{
	width: 16px;
	height: 15px;
	border: 2px solid var(--mainh2);
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.check-hidden .icon-vector{
	fill: transparent;
}

.checkbox-agree input:checked + .check-hidden .icon-wrapper{
	background-color: var(--currentColor);
	border: none;
}

.checkbox-agree input:checked + .check-hidden .icon-vector{
	fill: var(--backgroundcolor);
}


/* portfolio-css */



.filter-list{
	font-weight: 500;
	font-size: 16px;
	line-height: calc(26 / 16);
	letter-spacing: 0.03em;
	color: var(--mainh2);
	font-family: inherit;
	background-color: var(--backbutton);
	border-radius: 4px;
	border: none;
	transition: color,background,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.filter-right{
	margin-right: 8px;
}
.first-button{
	padding: 6px 25px;
}
.second-button{
	padding: 6px 22px;
}
.button-stile{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;


}
.main-section{
	padding-top: 94px;
	padding-bottom: 94px;
	border: none;
}
.last-button{
	margin-right: 0px;
}

.button:hover{
	cursor: pointer;
	background-color: var(--currentColor);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	color: var(--backgroundcolor);
	}


.portfolio-visually-hidden {
	text-align: center;
	color: var(--mainh2);
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.portfolio{
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	color: var(--mainh2);
}


.item{
	margin-right: 30px;
	margin-bottom: 30px;
	display: block;
	justify-content: center;

}
.item:hover{
	box-shadow:  1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item:focus{
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list-right{
	margin-right: 0px;
}
.text-group{
	padding-top: var(--gapboxtop);
	padding-bottom: var(--gapboxtop);
	padding-left: var(--gapboxleft);
	padding-right: var(--gapboxleft);
	border-bottom:#EEEEEE 1px solid;
	border-right: #EEEEEE 1px solid;
	border-left: #EEEEEE 1px solid;

}



.last-item{
	margin-bottom: 0px;
}

.project-item .text-hiden{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
	left: 0px;
	padding: 63px 24px;
	text-align: left;
	background-color: rgba(33, 150, 243, 0.9);
	font-size: 18px;
	line-height: calc(28 / 18);
	letter-spacing: 0.03em;
	color: var(--backgroundcolor);
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}

.hover-text:hover .text-hiden,
.hover-text:focus .text-hiden{
	transform: translateY(0);
}

.project-item .card-vision{
	position: relative;
	overflow: hidden;
}
.card-vision img{
	display: block;

}

.project-item{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.projects-name{
	font-weight: 700;
	font-size: 18px;
	line-height: calc(36 / 18);
	letter-spacing: 0.06em;
	color: var(--mainh2);
	margin-bottom: var(--gapboxdown);
}
.which-projects{
	font-weight: 400;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.03em;
	color: var(--text);
}










