:root{
	--title:#000000;
	--backgroundcolor:#ffffff;
	--mainh2:#212121;
	--text:#757575;
	--herobc:#2f303a;
	--adress:rgba(255, 255, 255, 0.6);
	--currentColor:#2196F3;
	--backbutton: #F5F4FA;
	--gapboxleft:24px;
	--gapboxtop:20px;
	--gapboxdown:4px;
}
	h1,
	h2,
	p,
	ul
	{
		margin: 0px;
		padding: 0px;
	}
	.body {
		font-family: "Roboto", sans-serif;
		background-color: var(--backgroundcolor);
	}
	.header-container{
		display: flex;
		border-bottom: 1px solid #ECECEC;
		

	}
	.header-nav{
		align-items: center;
		display: flex;
	}
	 .header-list{
		display: flex;
		align-items: center;
	}
	
	.header-contact{
		display: flex;
		align-items: center;
	}
	.contact-logo{
		margin-right: 10px;
		fill: var(--text);
	}
	.adress-logo:hover .contact-logo{	
		fill: var(--currentColor);
	
	}
	
	
	.header-contact{
		display: flex;
		align-items: center;
	}
	
	.header-logo {
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		font-size: 26px;
		line-height: calc(31 / 26);
		/* identical to box height */
		letter-spacing: 0.03em;
		margin-right: 93px;
	}
	
	.posil{
		margin-left: 50px;
		margin-right: 50px;
	}
	
	.web{
		color: var(--currentColor);
	}
	
	.studio {
		color: var(--title);
		
	}
	
	.container{
		width: 1200px;
		margin-right:  auto;
		margin-left:  auto;
		padding-left:15px;
		padding-right: 15px;
	}
	.current a {
		 color:  var(--currentColor);
	}
	
	.link{
		text-decoration: none;

	}
	.list {
		list-style: none;
		margin-left: auto;
	}
	.adress-header{
		margin-left: 50px;
	}
	
	
	.list-active-link:hover {
		color: var(--currentColor);
	}
	
	.header-list-link {
		font-weight: 500;
		font-size: 14px;
		line-height: calc(16 / 14);
		letter-spacing: 0.02em;
		color: var(--mainh2);
		display: block;

	}
	
	.header-link {
		font-weight: 500;
		font-size: 14px;
		line-height: calc(16 / 14);
		letter-spacing: 0.02em;
		padding-top: 32px;
		padding-bottom: 32px;
	
	}
	
	.header-mail-tel-link {
		font-weight: 500;
		font-size: 14px;
		line-height: calc(16 / 14);
		letter-spacing: 0.02em;
		color: var(--text);
	}
	
.filter-list{
	font-weight: 500;
	font-size: 16px;
	line-height: calc(26 / 16);
	letter-spacing: 0.03em;
	color: var(--mainh2);
	font-family: inherit;
	background-color: var(--backbutton);
	border-radius: 4px;
	border: none;
}
.filter-right{
	margin-right: 8px;
}
.first-button{
	padding: 6px 25px;
}
.second-button{
	padding: 6px 22px;
}
.button-stile{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;

	
}
.main-section{
	padding-top: 94px;
	padding-bottom: 94px;
	border: none;
}
.last-button{
	margin-right: 0px;
}


.portfolio-visually-hidden {
	text-align: center;
    color: var(--mainh2);
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.portfolio{
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	color: var(--mainh2);
}
.button:hover{
	cursor: pointer;
	background-color: var(--currentColor);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	color: var(--backgroundcolor);
	}

.item{
	margin-right: 30px;
	margin-bottom: 30px;
}
.item:hover{
	box-shadow:  1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item:focus{
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list-right{
	margin-right: 0px;
}
.text-group{
	padding-top: var(--gapboxtop);
	padding-bottom: var(--gapboxtop);
	padding-left: var(--gapboxleft);
	padding-right: var(--gapboxleft);
	border-bottom:#EEEEEE 1px solid;
	border-right: #EEEEEE 1px solid;
	border-left: #EEEEEE 1px solid;
	
}

.last-item{
	margin-bottom: 0px;
}


.project-item{
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	}
	
.projects-name{
	font-weight: 700;
	font-size: 18px;
	line-height: calc(36 / 18);
	letter-spacing: 0.06em;
	color: var(--mainh2);
	margin-bottom: var(--gapboxdown);
	}
.which-projects{
	font-weight: 400;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.03em;
	color: var(--text);
	}

	.footer {
		background: var(--herobc);
		justify-content: center;
	}
	
	.footer-studio {
		color: var(	--backgroundcolor);
	}
	.footer-logo {
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		font-size: 26px;
		line-height: calc(31 / 26);
		letter-spacing: 0.03em;
		text-decoration: none;
	
	}
	.footer-contact{
		margin-top: 20px;
	}
	
	.down {
		background: var(--herobc);
		padding-top: 60px;
		padding-bottom: 60px;
		
	}
	.flex-footer{
		display: flex;
	}
	
	.map {
		font-weight: 400;
		font-size: 14px;
		line-height: calc(24 / 14);
		letter-spacing: 0.03em;
		color: var(	--backgroundcolor);
	}
	
	.mail-tel {
		font-weight: 400;
		font-size: 14px;
		line-height: calc(24 / 14);
		letter-spacing: 0.03em;
		color: var(--adress);
	}
	.second-list{
		margin-top: 9px;
		margin-bottom: 9px;
	}
	
	
	.active-footer:hover {
		color: var(--currentColor);
	}
	.fix{
		margin-top: 6px;
	}
	.adress-footer{
		margin-top: 20px;
	}
	
	.pasive-footer {
		font-weight: 500;
		font-size: 14px;
		line-height: calc(16 / 14);
		letter-spacing: 0.02em;
		font-style: normal;
	}
	
	.follow{
		font-weight: 700;
	font-size: 14px;
	line-height: calc(16 /  14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
	}
	
	.follow-log{
		margin-left: 70px;
		margin-top: 12px;
	}
	
	.footer-posil{
		display: flex;
		justify-content: center;
		fill: var(--backgroundcolor);
	
	}
	.social-item-footer{
		width: 44px;
		height: 44px;
		margin-right: 10px;
	}
	 .social-link-footer:hover {
		background-color: var(--currentColor);
	}
	
	.social-link-footer{
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			
			background-color:rgba(255, 255, 255, 0.1);
	}
	
	
	.social-icons-footer{
		display: flex;
		justify-content: center;
		fill: var(--backgroundcolor);
	}
	.social-item-footer:last-child{
		margin-right: 0px;
	}