$title:#000000;
$line:#eeeeee;
$borgerline:#ececec;
$backgroundcolor:#ffffff;
$mainh2:#212121;
$text:#757575;
$herobc:#2f303a;
$button:#188ce8;
$team:#f5f4fa;
$backbutton:#f5f4fa;
$adress:rgba(255, 255, 255, 0.6);
$currentColor:#2196F3;
$gap: 30px;
$colorsvg: #AFB1B8 ;
$color-bg-footer:rgba(255, 255, 255, 0.1);
$bacdrop:rgba(0, 0, 0, 0.2);
$gapboxleft:24px;
$gapboxtop:20px;
$gapboxdown:4px;
$textarea:rgba(33, 33, 33, 0.2);
$body-color:rgba(33, 33, 33, 1);
$border-footer-input:rgba(255, 255, 255, 0.3);
$border-modal-button:rgba(131, 85, 85, 0.1);
$bg-cardwork:rgba(47, 48, 58, 0.8);


$font-family-roboto: 'Roboto', sans-serif;
$font-family-raleway: 'Raleway';

